/**
 * Class Settings --------------------------------------------------------------
 */

.listing {
  height: 150px;
  border: 5px solid rgb(61, 153, 212);
  cursor: pointer;
  border-radius: 10px;
}

.listingTitle {
  display: block;
  width: 100%;
  height: 60%;
  padding: 16px;
  color: rgb(61, 153, 212);
  font-size: 2em;
}

.listingProf {
  display: block;
  width: 100%;
  height: 30%;
  padding: 16px;
  color: rgb(61, 153, 212);
  font-size: 1em;
}

.listingPanel {
  display: block;
  width: 100%;
  height: 250px;
  background: #FFFFFF;
}

.commentWrapper {
  display: block;
  width: 100%;
  height: 125px;
  border-radius: 10px;
  background: rgba(254, 254, 254, 0.8);
}

.commentCol{
  height: 100%;
}

.commentAuthor {
  width: 100%;
  height: 100%;
  padding: 16px;
  color: #47525e;
  font-size: 0.8em;
}

.commentType {
  width: 100%;
  height: 100%;
  padding: 16px;
  color: #47525e;
  font-size: 0.8em;
}

.comment {
  width: 100%;
  height: 100%;
  padding: 16px;
  color: #47525e;
  font-size: 1em;
}

.rating {
  height: 100%;
  color: #47525e;
  text-align: center;
  font-size: 1.3em;
}

.ratingButton {
  border: 2px solid rgb(61, 153, 212);
  outline: none;
  box-shadow: none;
  background: none;
}

.ratingImg {
  width: 40px;
  height: 50px;
}

.bottomsep {
  border-bottom: 4px solid rgb(61, 153, 212);
}
.pollCol{
  height: 100%;
}
.poll{
  display: block;
  width: 130%;
  height: 50px;
  border-radius: 10px;
  clear: both;
}
.pollQuestion {
  display: block;
  width: 100%;
  height: 50%;
  padding: 1px;
  font-size: 1em;
}
.pollAnswers {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  padding: 1px;
  font-size: 1em;
}
.pollCount{
  float: left;
  height: 100%;
  text-align: center;
  font-size: 1.3em;
  background: #DC143C;
}
