/**
 * Class Settings --------------------------------------------------------------
 */

.settingswrapper {
  padding: 30px;
  color: #FFFFFF;
  background: #3d99d4;
  font-size: 1.3em;
  font-family: helvetica;
}

.settings-table-wrapper {
  width: 100%;
  border: 2px solid #3d99d4;
  border-radius: 10px;
}

.settings-table {
  margin: 50px auto;
  padding: 50px;
  overflow: auto;
  width: 90%;

  outline: 4px solid #3d99d4;
  border-radius: 10px;
  border-collapse: collapse;
  border-spacing: 0px;
}

.settings-table-header {
  padding: 16px;

  box-sizing: border-box;
  outline: 2px solid #3d99d4;

  background-color: #3d99d4;
  color:white;

  font-family: helvetica;
  font-size: 18px;
  text-align: center;
}

.settings-table-cell {
  padding: 16px;
  background-color: white;

  box-sizing: border-box;
  outline: 2px solid #3d99d4;

  font-family: helvetica;
  font-size: 18px;
  color: #47525e;
  text-align: center;
}

.settings-table-cell.clickable:hover {
  background-color: #c0def1;
}

.close-button {
  position: fixed;
  top: 80px;
  right: 20px;
  width: 30px;
  height: 30px;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-bottom: 50px;
    padding: 20px;
    border: 1px solid #888;
    width: 55%;
}

/**
 * -----------------------------------------------------------------------------
 */
